body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(26, 121, 26);
}

.hero-container {
  width: 100vw;
  height: 560px;
  position: relative;
  background: #202020;
}

.wrapper {
  max-width: 1366px;
  margin: auto;
  height: inherit;
}

.hero {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.hero-background {
  background-image: url(images/loki.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: inherit;
  width: calc(50% + 100px);
  position: absolute;
  /* z-index: 5; */
  right: 0;
}

.hero-content {
  color: white;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto 83px;
}

.hero-clip-path {
  height: inherit;
  display: flex;
  width: 50%;
  clip-path: polygon(0% 0%, calc(100% - 100px) 0%, 100% 100%, 0 100%);
  background: #202020;
}

.hero-content h1 {
  font: 700 normal 40px/45px arial;
  margin: 1.5rem 0 0.5rem;
}

.hero-content p {
  font: 400 normal 1rem/1.5rem arial;
  margin: 0 0 1.5rem 0;
}

.hero-content button {
  color: white;
  padding: 1rem 2rem;
  background: rgb(56, 56, 243);
  border: none;
  cursor: pointer;
  transform: scale(1);
  clip-path: polygon(0% 20%, 20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%);
}

.hero-content button:active {
  transform: scale(0.99);
}

.hero-clip-path-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0 100%);
  background: white;
  z-index: 10;
}

.hero-txt {
  width: inherit;
  position: relative;
  height: inherit;
}

/*  */

@media (max-width: 950px) {
  body {
    display: block;
    position: relative;
  }
  .wrapper {
    height: auto;
  }

  .hero-container {
    height: auto;
    position: unset;
  }

  .hero-background {
    position: unset;
    width: 100%;
    height: 584px;
    /* display: flex; */
    /* flex: 1; */
  }

  .hero-clip-path {
    clip-path: unset;
    width: 100%;
    display: block;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .hero-content {
    max-width: 100%;
    margin: 40px 64px;
  }
  .hero-content button {
    width: 100%;
  }
  .hero-clip-path-button {
    position: unset;
  }
}

@media (max-width: 800px) {
  .hero-background {
    height: 500px;
  }
}
@media (max-width: 700px) {
  .hero-background {
    height: 474px;
  }
}

@media (max-width: 600px) {
  .hero-background {
    height: 374px;
  }
  .hero-container {
    height: 100%;
    position: relative;
  }
  .hero-clip-path-button {
    position: absolute;
    display: none;
  }
}

@media (max-width: 500px) {
  .hero-background {
    height: 274px;
  }
  .hero-content {
    margin: 40px 24px;
  }
  .hero-content h1 {
    font: 700 normal 1.5rem/28px arial;
  }
  .hero-content p {
    font: 400 normal 14px/24px arial;
  }
}
